<template>
  <div id="app">
    <div class="">
      <div class="container-fluid p-0 m-0 w-100" style="height: 100vh">
        <div class="row m-0 h-100 align-items-center">
          <div class="col-12 h-100 col-sm-12 col-md-6 col-lg-6 hero-bg">
            <div class="d-flex flex-column landing-container">
              <img src="@/assets/images/lnulogo.png" alt="Lnu logo" width="120" class="img-fluid">
              <p class="heading mt-3">A better way to manage your trainees.</p>
              <p class="sub-heading">Manage and keep track <br/> of your student trainees easily.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6" v-if="!isNext">
            <h5 class="text-primary text-center">Account type</h5>
            <div class="row justify-content-center text-center mt-3">
              <div class="card p-4 mr-3 bg-card bg-card-active" >
                <img src="@/assets/images/user_male.png" alt="" class="img-fluid card-image" width="160">
                <p class="text-center mt-2 font-weight-bold">Teacher</p>
              </div>
            </div>
            <h5 class="mt-4 text-center">Hello, Teacher!</h5>
            <h6 class="mt-1 text-center">Please fill-out the form to get started</h6>
            <form class="d-flex justify-content-center mt-3"> 
              <div class="col-6">
                <label for="email">Email Address</label>
                <input type="text" v-model="data.email" class="form-control" placeholder="sample_email@gmail.com">
                <label for="email">Password</label>
                <input type="password" v-model="data.password" class="form-control" placeholder="******">
                <p><small>Already have an account? <router-link to="/" v-on:click.prevent="signup">Sign-in</router-link></small></p>
                <div class="row justify-content-end">
                  <button class="btn btn-sm btn-outline-primary mr-3" @click.prevent="isNext = true">Next</button>
                </div>
              </div>
            </form>
          </div>

          <!--INFO FORM-->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6" v-else>
            <h5 class="text-primary text-center">Account type</h5>
            <div class="row justify-content-center text-center mt-3">
              <div class="card p-4 mr-3 bg-card bg-card-active" >
                <img src="@/assets/images/user_male.png" alt="" class="img-fluid card-image" width="160">
                <p class="text-center mt-2 font-weight-bold">Teacher</p>
              </div>
            </div>
            <div class="col-7 mx-auto">
            <form class="d-flex flex-column justify-content-center mt-3"> 
                <div class="row">
                  <div class="col">
                    <label for="firstname">First Name</label>
                  <input type="text" v-model="data.first_name" class="form-control" placeholder="Juan" id="firstname">
                  </div>
                  <div class="col">
                    <label for="middlename">Middle Name</label>
                  <input type="text" v-model="data.middle_name" class="form-control" placeholder="Dela Cruz" id="middlename">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="lastname">Last Name</label>
                    <input type="text" v-model="data.last_name" class="form-control" placeholder="Durante" id="lastname">
                  </div>
                  <div class="col">
                    <label for="department">Department</label>
                    <input type="text" v-model="data.department" class="form-control" placeholder="Probinsya" id="department">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                  <label for="gender">Gender</label>
                  <select v-model="data.gender_id" class="form-control custom-select" placeholder="" id="gender">
                    <option disabled selected>Please select a gender</option>
                    <option v-for="(g, i) in gender" :key="i" :value="g.id">{{g.gender}}</option>
                  </select>
                  </div>
                  <div class="col">
                  </div>
                </div>
              <p><small>Already have an account? <router-link to="/" v-on:click.prevent="signup">Sign-in</router-link></small></p>
              <div class="row justify-content-end">
                <button class="btn btn-sm btn-outline-primary mr-3" @click.prevent="isNext = false">Previous</button>
                <button class="btn btn-sm btn-outline-primary mr-3" @click.prevent="createAccount" :disabled="isLoading">
                  {{isLoading ? 'Signing up ...' : 'Sign-up'}}
                </button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      isNext: false,
      data: {
        email: '',
        password: '',
        first_name: '',
        middle_name: '',
        last_name: '',
        gender_id: '',
      },
      isLoading: false,
    }
  },
  mounted() {
    document.title = 'Adviser Signup - OJT Monitoring System'
    this.$store.dispatch('user/getGender')
  },
  methods: {
    async createAccount(){
      if(this.data.email.trim() == '')
        return this.$toast.error('Email address is required');
      if(this.data.password.trim() == '')
        return this.$toast.error('Password is required');
      if(this.data.first_name.trim() == '')
        return this.$toast.error('First Name is required');
      if(this.data.middle_name.trim() == '')
        return this.$toast.error('Middle Name is required');
      if(this.data.last_name.trim() == '')
        return this.$toast.error('Last Name is required');
      if(this.data.department.trim() == '')
        return this.$toast.error('Department is required');
      if(this.data.gender == '')
        return this.$toast.error('Gender is required');

      this.isLoading = true
      const res = await this.$store.dispatch('user/storeUser', this.data);
      if(res.status == 200){
        this.clearFields();
        this.$router.push('/')
        this.isLoading = false
        return this.$toast.success('Account created successfully!');
      }
      else {
        this.isLoading = false
        for(var key of Object.keys(res.data.errors)){
          this.$toast.error(String(res.data.errors[key][0]))
        }
      }  
    },
    clearFields(){
      this.data = {
        email: '',
        password: '',
        first_name: '',
        middle_name: '',
        last_name: '',
        gender_id: '',
      }
    }
  },
  computed: {
    ...mapGetters({
      gender: 'user/getGender'
    })
  }
}
</script>