<template>
  <div>
    <div class="hero">
      <div class="container" style="height: 100vh; overflow-y: auto">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-10 col-sm-10 col-md-10 col-lg-10">
            <p class="date">{{date}}</p>
            <p class="time">{{time}}</p>
            <p class="heading-record mt-4">Student Attendance Log</p>
            <p class="heading-record-secondary mt-4">For your attendance record, please enter your student id. It will be recorded automatically on your account. <br/>
              Recent records are displayed below.
            </p>
            <p class="text-white font-weight-light mt-4">Student ID</p>
            <div class="row">
              <input type="text" v-model="student_id" class="form-control ml-3" style="max-width: 200px" placeholder="1800xxx">
              <button class="btn btn-sm btn-outline-light ml-3" v-on:click.prevent="timein">Time-in</button>
              <button class="btn btn-sm btn-outline-light ml-1" v-on:click.prevent="timeout">Time-out</button>
            </div>
            <p class="text-white font-weight-light mt-4">Recent Time in</p>
            <div class="recent" style="overflow-y: scroll; height: calc(100vh - 80vh)">
              <div class="row mt-2" v-for="(att, i) in attendance" :key="i">
                <b-avatar variant="primary" badge badge-variant="success" class="ml-4 mt-1" :text="att.student.last_name[0]"> </b-avatar>
                <div class="d-flex flex-column ml-3 text-white font-weight-light">
                  <p>{{att.student.last_name}}, {{att.student.first_name}} {{att.student.middle_name[0]}}.</p>
                  <div class="row ml-1" style="line-height: .9rem">
                    <p class="mr-3"><strong>Time in:</strong> {{att.time_in}}</p>
                    <p class=""><strong>Time out:</strong> {{att.time_out}}</p>
                  </div>
                </div>
              </div>
              <div class="row mt-2" v-if="attendance.length == 0">
                <b-avatar variant="primary" icon="people-fill" badge badge-variant="success" class="ml-4 mt-1"> </b-avatar>
                <div class="d-flex flex-column ml-3 text-white font-weight-light">
                  <p>Record will be displayed here</p>
                  <p style="line-height: .6rem">Current time: {{time}}</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
export default {
  data(){
    return {
      date: '',
      time: '',
      student_id: '',
    }
  },
  mounted(){
    document.title = 'Student Attendance - OJT Monitoring System'
    setInterval(() =>{
      this.currentdate()
    }, 1000)
    setInterval(() =>{
      this.currenttime()
    }, 1000)

    this.$store.dispatch('attendance/getAttendanceRecord')
    
  },
  methods: {
    currentdate(){
      var a = new Date();
      this.date = moment(a).format(' MMM D[,] YYYY'); 
    },
    currenttime(){
      var a = new Date();
      this.time =  moment(a).format('hh:mm:ss A'); 
    },
    async timein(){
      if(this.student_id == '')
        return this.$toast.error('Student ID is required!')
      
      let data = {
        time_in: this.time,
        date: this.date,
        student_id: this.student_id,
      }

      const res = await this.$store.dispatch('attendance/timeIn', data)

      if(res.status == 200){
        this.student_id = ''
        this.$store.dispatch('attendance/getAttendanceRecord')
        return this.$toast.success(res.data.msg)
      }
      else {
        return this.$toast.error(res.data.msg)
      }
    },
    async timeout(){
      if(this.student_id == '')
        return this.$toast.error('Student ID is required!')
      
      let data = {
        time_in: this.time,
        date: this.date,
        student_id: this.student_id,
      }

      const res = await this.$store.dispatch('attendance/timeOut', data)

      if(res.status == 200){
        this.student_id = ''
        this.$store.dispatch('attendance/getAttendanceRecord')
        return this.$toast.success(res.data.msg)
      }
      else {
        return this.$toast.error(res.data.msg)
      }
    }
  },
  computed: {
    ...mapGetters({
      attendance: 'attendance/getAttendance'
    })
  }


}
</script>